In [27]:
import pandas as pd

In [28]:
# create dataframe

rounds = ['first', 'second', 'third', 'forth', 'fifth', 'sixth']
vals = [1,2,3,4,5,6]
whos = ['teamA', 'teamB', 'teamC', 'teamD', 'teamE', 'teamF']

df_dict = {'Rounds': rounds, 'Vals': vals, 'Teams': whos}

df = pd.DataFrame(df_dict)

In [29]:
# add a new column
df['w_test'] = [9,7,6,4,3,2]

In [30]:
# remove the column
df.drop('w_test', axis=1, inplace=True)

In [31]:
# add some new data

rounds = ['seventh', 'eighth', 'nineth', 'tenth']
vals = [7,8,9,10]
whos = ['teamG', 'teamH', 'teamI', 'teamJ']

df_dict_add = {'Rounds': rounds, 'Vals': vals, 'Teams': whos}


df = pd.concat([df, pd.DataFrame(df_dict_add)], sort=False)

In [32]:
df

    Rounds  Vals  Teams
0    first     1  teamA
1   second     2  teamB
2    third     3  teamC
3    forth     4  teamD
4    fifth     5  teamE
5    sixth     6  teamF
0  seventh     7  teamG
1   eighth     8  teamH
2   nineth     9  teamI
3    tenth    10  teamJ

In [33]:
# notice above the indexes are unchanged
# each dataframe had it own indexes and those are now repeated

# for solving this it is necessary reseting the index